<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>   
<ul *ngIf="dataLoaded==true" class="list-group">
    <li 
    routerLink=""
    (click)="setAllColor()" 
    [class]="getAllColorClass()" 
    style="text-align: center;"><b>Tüm Renkler</b></li>
    <li 
    routerLink="/cars/color/{{color.id}}"
    (click)="setCurrentColor(color)" 
    *ngFor="let color of colors" 
    [class]="getCurrentColorClass(color)">
        <div class="row">         
            <div class="col-md-12">{{color.name}}</div>
        </div>
    </li>    
</ul>